.slot {
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  background: #111;
  color: white;
}

.available { border: 2px solid #00ff99; }
.booked    { border: 2px solid orange; }
.occupied  { border: 2px solid red; }
