body {
  background: #050b1f;
  color: white;
  font-family: Segoe UI;
}

header {
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.slot {
  border: 3px solid #00ff99;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.slot.occupied {
  border-color: red;
}

.booking {
  text-align: center;
  margin: 20px;
}
