body {
  background: #0a0f2c;
  color: white;
  font-family: Segoe UI;
  padding: 20px;
}

.slot {
  background: #111;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #00ff99;
}

.occupied {
  border-color: red;
}
