body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

.slots {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.slot {
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  background: #aaffaa;
}

.occupied {
  background: #ff9999;
}
