* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: radial-gradient(circle at top, #020617, #000);
  min-height: 100vh;
  padding: 30px;
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

/* GRID */
.parking-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

/* SLOT */
.slot {
  background: #020617;
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
}

/* AVAILABLE */
.slot.available {
  border: 2px solid #22c55e;
}

.slot.available .status {
  color: #22c55e;
}

/* OCCUPIED */
.slot.occupied {
  border: 2px solid #ef4444;
  background: rgba(239, 68, 68, 0.15);
  animation: blink 1.2s infinite;
}

.slot.occupied .status {
  color: #ef4444;
}

/* BLINK EFFECT */
@keyframes blink {
  0% { box-shadow: 0 0 0 red; }
  50% { box-shadow: 0 0 18px red; }
  100% { box-shadow: 0 0 0 red; }
}

/* CAR ICON */
.car-icon {
  width: 90px;
  margin-bottom: 12px;
  transition: 0.3s;
}

.slot.occupied .car-icon {
  filter: sepia(1) saturate(5) hue-rotate(-40deg);
  transform: scale(1.1);
}

/* TEXT */
.slot p {
  margin-top: 6px;
  font-size: 14px;
}
